---
import illustratorLogo from "../assets/logos/illustrator.svg";
import figmaLogo from "../assets/logos/figma.svg";
import cssLogo from "../assets/logos/css.svg";
import wordpressLogo from "../assets/logos/wordpress.svg";
import canvaLogo from "../assets/logos/canva.svg";
import astrojsLogo from "../assets/logos/astrojs.svg";
import htmlLogo from "../assets/logos/html.svg";
import jsLogo from "../assets/logos/js.svg";
import sqlLogo from "../assets/logos/sql.svg";
import pocketbaseLogo from "../assets/logos/pocketbase.svg";
import notionLogo from "../assets/logos/notion.svg";
import capcutLogo from "../assets/logos/capcut.svg";
import davinciResolveLogo from "../assets/logos/davinci_resolve.svg";
import sketchbookLogo from "../assets/logos/sketchbook.svg";
import tailwindcssLogo from "../assets/logos/tailwindcss.svg";
import daisyuiLogo from "../assets/logos/daisyui.svg";
---

<div class="space-y-6">
    <!-- Using absolute positioning so each logo can be moved independently -->
    <div class="w-[495px] h-[372px] relative">
        <!-- Illustrator -->
        <button
            class="absolute cursor-pointer"
            style="left: 150px; top: 30px;"
            title="Adobe Illustrator"
        >
            <img
                src={illustratorLogo.src || "/placeholder.svg"}
                alt="Adobe Illustrator"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- Figma -->
        <button
            class="absolute cursor-pointer"
            style="left: 250px; top: 0px;"
            title="Figma"
        >
            <img
                src={figmaLogo.src || "/placeholder.svg"}
                alt="Figma"
                class="w-20 h-20 object-contain"
            />
        </button>

        <!-- CSS -->
        <button
            class="absolute cursor-pointer"
            style="left: 350px; top: 15px;"
            title="CSS"
        >
            <img
                src={cssLogo.src || "/placeholder.svg"}
                alt="CSS"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- WordPress -->
        <button
            class="absolute cursor-pointer"
            style="left: 100px; top: 100px;"
            title="WordPress"
        >
            <img
                src={wordpressLogo.src || "/placeholder.svg"}
                alt="WordPress"
                style="width: 200px; height: 100px;"
                class="object-contain"
            />
        </button>

        <!-- DaisyUI -->
        <button
            class="absolute cursor-pointer"
            style="left: 230px; top: 180px;"
            title="DaisyUI"
        >
            <img
                src={daisyuiLogo.src || "/placeholder.svg"}
                alt="DaisyUI"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- Astro -->
        <button
            class="absolute cursor-pointer"
            style="left: 250px; top: 100px;"
            title="Astro"
        >
            <img
                src={astrojsLogo.src || "/placeholder.svg"}
                alt="Astro"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- HTML -->
        <button
            class="absolute cursor-pointer"
            style="left: 320px; top: 90px;"
            title="HTML"
        >
            <img
                src={htmlLogo.src || "/placeholder.svg"}
                alt="HTML"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- JavaScript -->
        <button
            class="absolute cursor-pointer"
            style="left: 325px; top: 85px;"
            title="JavaScript"
        >
            <img
                src={jsLogo.src || "/placeholder.svg"}
                alt="JavaScript"
                class="w-50 h-16 object-contain"
            />
        </button>

        <!-- SQL -->
        <button
            class="absolute cursor-pointer"
            style="left: 120px; top: 180px;"
            title="SQL"
        >
            <img
                src={sqlLogo.src || "/placeholder.svg"}
                alt="SQL"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- DaVinci Resolve -->
        <button
            class="absolute cursor-pointer"
            style="left: 310px; top: 160px;"
            title="DaVinci Resolve"
        >
            <img
                src={davinciResolveLogo.src || "/placeholder.svg"}
                alt="DaVinci Resolve"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- CapCut -->
        <button
            class="absolute cursor-pointer"
            style="left: 390px; top: 160px;"
            title="CapCut"
        >
            <img
                src={capcutLogo.src || "/placeholder.svg"}
                alt="CapCut"
                class="w-18 h-18 object-contain"
            />
        </button>

        <!-- Sketchbook -->
        <button
            class="absolute cursor-pointer"
            style="left: 320px; top: 230px;"
            title="Sketchbook"
        >
            <img
                src={sketchbookLogo.src || "/placeholder.svg"}
                alt="Sketchbook"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- Notion -->
        <button
            class="absolute cursor-pointer"
            style="left: 400px; top: 235px;"
            title="Notion"
        >
            <img
                src={notionLogo.src || "/placeholder.svg"}
                alt="Notion"
                class="w-15 h-20 object-contain"
            />
        </button>

        <!-- Canva -->
        <button
            class="absolute cursor-pointer"
            style="left: 155px; top: 240px;"
            title="Canva"
        >
            <img
                src={canvaLogo.src || "/placeholder.svg"}
                alt="Canva"
                class="w-20 h-20 object-contain"
            />
        </button>

        <!-- Pocketbase -->
        <button
            class="absolute cursor-pointer"
            style="left: 250px; top: 285px;"
            title="Pocketbase"
        >
            <img
                src={pocketbaseLogo.src || "/placeholder.svg"}
                alt="Pocketbase"
                class="w-18 h-18 object-contain"
            />
        </button>

        <!-- Tailwind CSS -->
        <button
            class="absolute cursor-pointer"
            style="left: 340px; top: 305px;"
            title="Tailwind CSS"
        >
            <img
                src={tailwindcssLogo.src || "/placeholder.svg"}
                alt="Tailwind CSS"
                class="w-14 h-14 object-contain"
            />
        </button>
    </div>
</div>
