---
import illustratorLogo from "../assets/logos/illustrator.svg";
import figmaLogo from "../assets/logos/figma.svg";
import cssLogo from "../assets/logos/css.svg";
import wordpressLogo from "../assets/logos/wordpress.svg";
import canvaLogo from "../assets/logos/canva.svg";
import astrojsLogo from "../assets/logos/astrojs.svg";
import htmlLogo from "../assets/logos/html.svg";
import jsLogo from "../assets/logos/js.svg";
import sqlLogo from "../assets/logos/sql.svg";
import pocketbaseLogo from "../assets/logos/pocketbase.svg";
import notionLogo from "../assets/logos/notion.svg";
import capcutLogo from "../assets/logos/capcut.svg";
import davinciResolveLogo from "../assets/logos/davinci_resolve.svg";
import sketchbookLogo from "../assets/logos/sketchbook.svg";
import tailwindcssLogo from "../assets/logos/tailwindcss.svg";
import daisyuiLogo from "../assets/logos/daisyui.svg";
---

<div class="space-y-6">
    <!-- Shifted all logos 80px to the left for better centering -->
    <div class="w-[495px] h-[372px] relative">
        <!-- Illustrator -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 70px; top: 30px;"
            title="Adobe Illustrator"
            data-skill="illustrator"
        >
            <img
                src={illustratorLogo.src || "/placeholder.svg"}
                alt="Adobe Illustrator"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- Figma -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 170px; top: 0px;"
            title="Figma"
            data-skill="figma"
        >
            <img
                src={figmaLogo.src || "/placeholder.svg"}
                alt="Figma"
                class="w-20 h-20 object-contain"
            />
        </button>

        <!-- CSS -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 270px; top: 15px;"
            title="CSS"
            data-skill="css"
        >
            <img
                src={cssLogo.src || "/placeholder.svg"}
                alt="CSS"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- WordPress -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 25px; top: 85px;"
            title="WordPress"
            data-skill="wordpress"
        >
            <img
                src={wordpressLogo.src || "/placeholder.svg"}
                alt="WordPress"
                style="width: 170px; height: 120px;"
                class="object-contain"
            />
        </button>

        <!-- DaisyUI -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 150px; top: 180px;"
            title="DaisyUI"
            data-skill="daisyui"
        >
            <img
                src={daisyuiLogo.src || "/placeholder.svg"}
                alt="DaisyUI"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- Astro -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 170px; top: 100px;"
            title="Astro"
            data-skill="astro"
        >
            <img
                src={astrojsLogo.src || "/placeholder.svg"}
                alt="Astro"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- HTML -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 240px; top: 90px;"
            title="HTML"
            data-skill="html"
        >
            <img
                src={htmlLogo.src || "/placeholder.svg"}
                alt="HTML"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- JavaScript -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 280px; top: 85px;"
            title="JavaScript"
            data-skill="javascript"
        >
            <img
                src={jsLogo.src || "/placeholder.svg"}
                alt="JavaScript"
                class="w-36 h-16 object-contain"
            />
        </button>

        <!-- SQL -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 40px; top: 180px;"
            title="SQL"
            data-skill="sql"
        >
            <img
                src={sqlLogo.src || "/placeholder.svg"}
                alt="SQL"
                class="w-16 h-16 object-contain"
            />
        </button>

        <!-- DaVinci Resolve -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 230px; top: 160px;"
            title="DaVinci Resolve"
            data-skill="davinci"
        >
            <img
                src={davinciResolveLogo.src || "/placeholder.svg"}
                alt="DaVinci Resolve"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- CapCut -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 310px; top: 160px;"
            title="CapCut"
            data-skill="capcut"
        >
            <img
                src={capcutLogo.src || "/placeholder.svg"}
                alt="CapCut"
                class="w-18 h-18 object-contain"
            />
        </button>

        <!-- Sketchbook -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 240px; top: 230px;"
            title="Sketchbook"
            data-skill="sketchbook"
        >
            <img
                src={sketchbookLogo.src || "/placeholder.svg"}
                alt="Sketchbook"
                class="w-14 h-14 object-contain"
            />
        </button>

        <!-- Notion -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 320px; top: 235px;"
            title="Notion"
            data-skill="notion"
        >
            <img
                src={notionLogo.src || "/placeholder.svg"}
                alt="Notion"
                class="w-20 h-20 object-contain"
            />
        </button>

        <!-- Canva -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 75px; top: 240px;"
            title="Canva"
            data-skill="canva"
        >
            <img
                src={canvaLogo.src || "/placeholder.svg"}
                alt="Canva"
                class="w-20 h-20 object-contain"
            />
        </button>

        <!-- Pocketbase -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 170px; top: 285px;"
            title="Pocketbase"
            data-skill="pocketbase"
        >
            <img
                src={pocketbaseLogo.src || "/placeholder.svg"}
                alt="Pocketbase"
                class="w-18 h-18 object-contain"
            />
        </button>

        <!-- Tailwind CSS -->
        <button
            class="absolute cursor-pointer transition-transform hover:scale-110 hover:drop-shadow-lg"
            style="left: 260px; top: 305px;"
            title="Tailwind CSS"
            data-skill="tailwind"
        >
            <img
                src={tailwindcssLogo.src || "/placeholder.svg"}
                alt="Tailwind CSS"
                class="w-14 h-14 object-contain"
            />
        </button>
    </div>
</div>
