---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body
		class="min-h-screen bg-gradient-to-b from-purple-200 via-purple-50 to-white"
		style="background-size: 100% 40vh; background-repeat: no-repeat;"
	>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
